@font-face {
    font-family: 'gotham-medium';
    src: url('../fonts/gotham-medium/gotham-medium.woff') format('woff'),
    url('../fonts/gotham-medium/gotham-medium.ttf')  format('truetype'),
    url('../fonts/gotham-medium/gotham-medium.woff2')  format('woff2'),
    url('../fonts/gotham-medium/gotham-medium.eot')  format('eot');
    font-weight: normal;
    font-style: normal;
}