@font-face {
    font-family: 'gotham-bold';
    src: url('../fonts/gotham-bold/gotham-bold.woff') format('woff'),
    url('../fonts/gotham-bold/gotham-bold.ttf')  format('truetype'),
    url('../fonts/gotham-bold/gotham-bold.woff2')  format('woff2'),
    url('../fonts/gotham-bold/gotham-bold.eot')  format('eot');
    font-weight: normal;
    font-style: normal;
}