@font-face {
    font-family: 'gotham-book';
    src: url('../fonts/gotham-book/gotham-book.woff') format('woff'),
    url('../fonts/gotham-book/gotham-book.ttf')  format('truetype'),
    url('../fonts/gotham-book/gotham-book.woff2')  format('woff2'),
    url('../fonts/gotham-book/gotham-book.eot')  format('eot');
    font-weight: normal;
    font-style: normal;
}